<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <title>Un formulaire de connexion en AJAX</title>

</head>


<body>
    
    <h1>Connection</h1>


    <form method="POST" action="/login">

        p Nom d'utilisateur : <input type="text" name="username" id="username"/>

        p Mot de passe : <input type="password" name="password" id="password" />
        

        <input type="submit" id="submit" value="Se connecter !" />

    a(href='/createAccount') Créer un compte

    </form>
    </body>
    </html>