<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <title>Formlaire création todo</title>

</head>


<body>
    
    include ../shared/head.pug
    <h1>Création</h1>

    if created
        p Votre todo a été créer avec succés
    if fullFillAll
        p veuillez remplir tout les champs
    if errorbdd
        p Une erreur s'est produite , veuillez réessayer plus tard


    <form method="POST" action="/todos">

        p message : <input type="text"   name="message"/>
        p Ajouter a votre équipe ? <input type="checkbox" name="addToTeam">
        <input type="submit" id="submit" value="Créer todo" />

        

    </form>
    </body>
    </html>
